@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 10px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#menuItem li:hover {
    background: #f3f3f3;
}

#tabs {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.1em;
    color: #000;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.wrapper {
    display: flex;
    width: 100%;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 10px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}



/* ---------------------------------------------------
    Logs Tab
----------------------------------------------------- */


#tab {
    background: #fff;
    color: #000;
}

    #tab .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #f3f3f3;
        background-color: #eee;
        border-color: transparent transparent #f3f3f3;
        border-bottom: 2px solid !important;
        font-size: 15px;
        font-weight: bold;
    }

    #tab .nav-tabs .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        color: #999;
        font-size: 15px;
    }

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #content {
        width: 100%;
    }
}
